.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-section {
  width: 500px;
  height: 750px;
  background-color: aquamarine;
  text-align: center;
}

.form-section form {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 2rem;
  gap: 0.5rem;
}
input {
  height: 50px;
  padding: 0.5rem;
}
button {
  width: 200px;
  height: 50px;
  cursor: pointer;
}
p {
  font-size: 1.5rem;
}
