.app__animation {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #789524;
  margin: 200px 0;
  overflow: hidden;
}
.app__animation-container {
  max-width: 80%;
  width: 80%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.item {
  width: 250px;
  height: 50px;
  background-color: #a0b465;
  color: #ffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.1rem;
  cursor: pointer;
}

.app__animation-container_text {
  flex: 1;
  height: 240px;
}
.wrapper-text {
  flex: 1;
  display: flex;
  align-items: center;
  height: 240px;
  cursor: grab;
  user-select: none;
}

.text {
  position: relative;
  width: fit-content;
  font-size: 2.7rem;
  font-weight: 550;
  font-family: Arial, Helvetica, sans-serif;
  white-space: wrap;
  color: #ffff;
}

.visibleTextContainer {
  position: relative;
  display: inline-block;
}

.visibleText {
  width: fit-content !important;
  font-size: 2.7rem;
  font-weight: 550;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffff;
  white-space: wrap;
  position: relative;
  display: inline-block;
}

.visibleText::after {
  content: "+";
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  border-radius: 50%;
  transform: translateY(-5px);
  cursor: pointer;
  border: 4px solid rgba(255, 255, 255, 0.411);
  display: inline-block;
  text-align: center;
  line-height: 40px;
  margin-left: 1rem;
}

.bar {
  animation: blink-caret 0.75s step-end infinite;
  transition: all 0.3s ease;
}

.active {
  background: #ffff;
  transition: all 0.5s ease;
  color: #789524;
}

@keyframes blink-caret {
  50% {
    opacity: 0;
  }
}
