.important-web {
  width: 85%;
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin: 0 auto;
  background-color: aquamarine;
  position: relative;
}
.important-web-section {
  width: 30% !important;
  height: 300px;
  /* aspect-ratio: 1/1; */
  flex: 1;
  border-radius: 10px;
  position: relative;
  /* overflow: hidden; */
  transition: all 2s ease-in-out;
}
.important-web-section-box {
  width: 100%;
  height: 100%;

  transition: all 2s ease-in-out;
  /* background-color: red; */
}

.important-web-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s linear;
  border-radius: 7px;
}
.important-web-section:hover img {
  transform: scale(1.05);
  filter: blur(4px);
}
.important-web-section:hover .web-section-desc {
  height: 100%;
  background-color: #00000089;
}
.web-section-desc {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #00000089;
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  overflow: hidden;
  padding: 0 4rem;
}

.web-section-desc h4 {
  font-size: 2rem;
  /* line-height: 2; */
  font-weight: 900;
  color: var(--color-secondary);
  margin-bottom: 1rem;
}
.web-section-desc p {
  font-size: 18px;
  line-height: 2;
  font-weight: 500;
  color: #fff;
}

/* Add your CSS to style the components */
/* .important-web {
  display: flex;
  flex-direction: column;
}

.important-web-section {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.important-web-section-box {
  display: flex;
  align-items: center;
}

.web-section-desc {
  margin-left: 20px;
} */

/* Add more CSS for styling as needed */

@media screen and (max-width: 758px) {
  .important-web {
    flex-direction: column;
    align-items: center;
  }
  .important-web-section {
    width: 80%;
  }
  .important-web-section {
    width: 100% !important;
  }
}
