.important-web {
  width: 85%;
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0 auto;
  background-color: #d4cfc4;
  position: relative;
  padding: 0 0.5rem;
}
/* .container-wrapper-sec {
  display: flex;
  flex-direction: column;
  gap: 1rem;
} */

.important-web-section {
  width: 30% !important;
  height: 100%;
  /* aspect-ratio: 1/1; */
  flex: 1;
  border-radius: 10px;
  position: relative;
  position: relative;
  overflow: hidden;
  transition: all 2s ease-in-out;
}

.container-contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.first-container {
  position: absolute;
  top: -55%;
  left: 0;
}
.content-three {
  position: absolute;
  top: 0%;
  left: 0;
}
.important-web-section-box {
  width: 100%;
  height: 230px;
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  /* margin-top: 1rem; */
  transition: all 2s ease-in-out;
  position: relative;
  /* background-color: red; */
}

.important-web-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s linear;
  border-radius: 10px;
}
.important-web-section:hover img {
  transform: scale(1.05);
  filter: blur(4px);
}
.important-web-section-box:hover .web-section-desc {
  height: 100%;
  background-color: #00000089;
}
.web-section-desc {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #00000089;
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  overflow: hidden;
  padding: 0 4rem;
}

.web-section-desc h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
  /* line-height: 2; */
  font-weight: 900;
  color: var(--color-secondary);
  margin-bottom: 1rem;
}
.web-section-desc p {
  font-size: 18px;
  line-height: 2;
  font-weight: 500;
  color: #fff;
}

/* Add your CSS to style the components */
/* .important-web {
  display: flex;
  flex-direction: column;
}

.important-web-section {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.important-web-section-box {
  display: flex;
  align-items: center;
}

.web-section-desc {
  margin-left: 20px;
} */

/* Add more CSS for styling as needed */

@media screen and (max-width: 1000px) {
  .important-web {
    width: 100%;
  }
}
@media screen and (max-width: 758px) {
  .important-web {
    align-items: center;
  }
  .important-web-section {
    width: 80%;
  }
  .important-web-section {
    width: 100% !important;
  }
}
@media screen and (max-width: 550px) {
  .important-web {
    height: 80vh;
  }
  .app__home-websites {
    padding: 0 !important;
  }
  .important-web-section-box {
    height: 120px;
  }
  .first-container {
    top: -67%;
  }
  .second-content {
    position: absolute;
    left: 0;
    top: 0;
  }
  .content-three {
    top: 10%;
  }
}
