.app__blogContainer {
  width: 100%;
  height: auto;
  position: relative;
  /* background-color: aquamarine; */
}
.app__blogContainer-wrapper {
  width: 100%;
  display: flex;
  gap: 2rem;
  padding: 2rem 2rem 0 2rem;
}

@media screen and (max-width: 1050px) {
  .app__blogContainer-wrapper {
    padding: 1rem 1rem 0 1rem;
    gap: 1rem;
  }
}
