.app__header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-color: #fafafa; */
  background-color: #e9e9e9;
}

header {
  width: 100%;
  height: 110px;
  padding: 0 2vw;
  transform: translateY(-100%);
  animation: sliding 2s 0.7s linear forwards;
}

.app__header nav {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
  transform: translateY(-100%);
  animation: sliding 2s 0.7s linear forwards;
  background: var(--color-blue);
}

@keyframes sliding {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.app__header-logo-img {
  width: 50px;
  height: 50px;
}
.app__header-logo-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.app__header-btn-menu {
  width: fit-content;
  height: 40px;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.app__header-logo-titles {
  color: #fff;
}
.app__header-logo-titles h4 {
  text-align: center;
  /* background-color: reds; */
}

.app__header-wrapper {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  z-index: 2;
  /* background-color: aqua; */
}
.container-titles {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.container-titles h2:nth-of-type(1) {
  font-size: 4.5vw;
  font-weight: 900;
  opacity: 0;
  color: #000;
  font-family: var(--font-base);
  animation: anim-text1 2s 0.3s linear forwards;
  text-transform: uppercase;
  /* z-index: -1; */
}
.container-titles h2:nth-of-type(2) {
  font-size: 4.5vw;
  color: #000;
  font-family: var(--font-base);
  color: transparent;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #000;
  opacity: 0;
  animation: anim-text2 2s 0.3s linear forwards;
}

@keyframes anim-text1 {
  0% {
    transform: scale(1.3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes anim-text2 {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.container-titles h2 span {
  font-size: 0.7rem;
}
.app__header-container {
  width: 100%;
  height: 100%;
  display: flex;
  /* background-color: bisque; */
  gap: 0.3vw;
}
.container-content {
  position: relative;
  flex: 1;
  overflow: hidden;
  /* background-color: blue; */
}
.content {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  animation: image-transform 1.7s linear forwards;
}

@keyframes image-transform {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.image1 {
  background-image: url("../../assets/18.jpg");
  background-position: center center;
}
.image2 {
  background-image: url("../../assets/20.jpg");
  background-position: center center;
}
.image3 {
  background-image: url("../../assets/15.jpg");
  background-position: top center !important;
}

.container-content::after {
  content: "";
  width: 100%;
  height: 180%;
  position: absolute;
  bottom: 0;
  left: 0;
  /* background-color: #fafafa; */
  background-color: #e9e9e9;
}
.container--content1::after {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  transition: all ease;
  animation: moving 3s linear forwards;
}
.container--content2::after {
  animation: moving-center 3.5s linear forwards;
}
.container--content3::after {
  transition: all ease-in;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  animation: moving 3s linear forwards;
}
@keyframes moving {
  0% {
    transform: translateY(40%);
  }
  100% {
    transform: translateY(-100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

/*  */
@keyframes moving-center {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.app__header-menu {
  width: 100%;
  height: 100vh;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  /* background-color: aqua; */
}
.app__header-menu span {
  flex: 1;
  height: 100vh;
  filter: blur(5px);
  animation: show-span 0.1s linear forwards;
  animation-delay: 1s;
  z-index: 10;
}
@keyframes show-span {
  to {
    background-color: #00000086;
    filter: blur(15px);
  }
}
.app__header-menu-container {
  width: 70%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* background: var(--color-blue); */
  /* background: var(--color-blue); */
  /* background-color: red; */

  z-index: 10;
  position: relative;
  overflow: hidden;
}
.app__header-menu-container::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  /* background: var(--color-blue); */

  animation: menu-appear 1s linear forwards;
}
.close-btn {
  align-self: flex-start;
  justify-self: start;
  z-index: 10;
  animation: show-close 0.3s linear forwards;
  animation-delay: 1s;
  visibility: hidden;
  cursor: pointer;
  padding: 1rem;
  /* display: none; */
}
@keyframes show-close {
  to {
    display: block;
    visibility: visible;
  }
}
.menu-links {
  width: 100%;
  height: 100vh;
  /* flex: 1; */
  /* align-self: center; */
  /* justify-self: center; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* background-color: blue; */
}
.link-box {
  width: 100%;
  height: 50px;
  position: relative;
  overflow: hidden;
  z-index: 11;
  /* background-color: aquamarine; */
}
.link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  list-style: none;
  font-family: var(--font-alt);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.4;
  animation: show-links 1s linear forwards;
  animation-delay: 1s;
  color: #fff;
  transition: color 0.3s ease;
}
.link:hover {
  color: var(--color-secondary);
}

@keyframes show-links {
  100% {
    top: 0;
  }
}
@keyframes menu-appear {
  0% {
    transform: translateX(100%);
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  }
  100% {
    transform: translateX(0%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 0% 50%);
  }
}

@media screen and (max-width: 1000px) {
  .link {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 800px) {
  .link-box {
    height: 30px;
  }
  .link {
    font-size: 1.5rem;
  }
  /* .container--content2 {
    display: none;
  } */
  .containerC2 {
    display: none;
  }
  .container-titles {
    padding: 2rem;
  }
}
@media screen and (max-width: 500px) {
  .app__header-wrapper {
    justify-content: space-between;
    margin-top: 4rem;
  }
  .app__header-container {
    height: 80%;
  }
  .containerC3 {
    display: none;
  }
  .app__header-menu-container {
    width: 100%;
  }

  .link {
    top: 35px;
    animation: show-links 0.7s linear forwards;
    animation-delay: 1s;
  }
}
